<!-- profiles/templates/profiles/profile.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ user.username }}'s Profile</h1>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <div class="profile-actions">
        <a href="{% url 'profile_edit' %}" class="button btn-primary">Edit Profile</a>
        <a href="{% url 'core:home' %}" class="button btn-secondary">Return to Home</a>
    </div>
</body>
</html>
